<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/me.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>标签编辑</title>
</head>

<body>
    <nav th:replace="commons/back::menu(0)"></nav>
    <!-- 二级导航 -->
    <div th:replace="commons/back::navigation(1)"></div>
    <!-- 中间内容 -->
    <br><br><br><br><br><br><br><br>
    <div class="m-padding-tb-large m-container">
        <div class="ui container">
            <form action="/admin/tags" method="POST" class="ui form" th:object="${tag}">
                <input type="hidden" name="_method" value="put" th:unless="${#strings.isEmpty(tag.name)}">
                <input type="hidden" name="id" th:value="*{id}">
                <div class="required field">
                    <div class="ui left labeled input">
                        <div class="ui compact teal basic dropdown label">标签名</div>
                        <input type="text" name="name" placeholder="标签名" th:value="*{name}">
                    </div>
                </div>
                <div class="ui error message"></div>
                <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                    <i class="close icon"></i>
                    <p th:errors="*{name}">1</p>
                </div>
                <div class="ui container right aligned">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button class="ui teal submit button">提交</button>
                </div>
            </form>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
    <footer th:replace="commons/index::footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $(".toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $(".ui.dropdown").dropdown();
    $(".ui.form").form({
        fields:{
            title:{
                identifier:"name",
                rules:[{
                    type:"empty",
                    prompt:"请输入标签名"
                }]
            }
        }
    });
    $(".message .close").click(function(){
        $(this).closest(".message").transition("fade");
    })
</script>

</html>