<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav th:fragment="menu(n)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <a href="/"><h2 class="ui teal header item">Blog</h2></a>
                <a href="/admin/blogs" class="item m-mobile-hide m-item" th:classappend="${n==1}?'active'"><i class="clipboard icon"></i>博文</a>
                <a href="/admin/types" class="item m-mobile-hide m-item" th:classappend="${n==2}?'active'"><i class="idea icon"></i>分类</a>
                <a href="/admin/tags" class="item m-mobile-hide m-item" th:classappend="${n==3}?'active'"><i class="tags icon"></i>标签</a>
                <div class="right menu m-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img th:src="${session.user.avatar}" class="ui avatar image">
                            <span th:text="${session.user.nickname}"></span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/admin/logout" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui black icon menu toggle button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 二级导航 -->
    <div th:fragment="navigation(n)" class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="/admin/writing" class="item" th:classappend="${n==1}?'active teal'">发布</a>
                <a href="/admin/blogs" class="item" th:classappend="${n==2}?'active teal'">列表</a>
            </div>
        </div>
    </div>
</body>
</html>