<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <nav th:fragment="menu(n)" class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <a href="/admin/index">
                    <h2 class="ui teal header item">Blog</h2>
                </a>
                <a href="/" class="item m-mobile-hide m-item" th:classappend="${n==1}?'active'"><i
                        class="home icon"></i> 首页</a>
                <a href="/types/-1" class="item m-mobile-hide m-item" th:classappend="${n==2}?'active'"><i
                        class="idea icon"></i>分类</a>
                <a href="/tags/-1" class="item m-mobile-hide m-item" th:classappend="${n==3}?'active'"><i
                        class="tags icon"></i>标签</a>
                <a href="/archive" class="item m-mobile-hide m-item" th:classappend="${n==4}?'active'"><i
                        class="clone icon"></i>归档</a>
                <a href="/about" class="item m-mobile-hide m-item" th:classappend="${n==5}?'active'"><i
                        class="info icon"></i>关于我</a>
                <div class="right item m-mobile-hide m-item">
                    <form action="/search" target="_blank" name="search">
                        <div class="ui icon inverted transparent input">
                            <input type="text" placeholder="Search" name="query">
                            <i class="search link icon" onclick="document.forms['search'].submit()"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a href="#" class="ui black icon menu toggle button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div th:fragment="item" class="ui segment vertical padded m-padding-tb-big" th:each="blog : ${page.content}">
        <div class="ui middle aligned mobile reversed stackable grid">
            <!-- article -->
            <div class="eleven wide column">
                <h3 class="ui header"><a target="_blank" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black"
                        th:text="${blog.title}"></a></h3>
                <p class="m-text" th:text="|${blog.description}...|"></p>
                <!-- footer -->
                <div class="ui grid">
                    <!-- left -->
                    <div class="eleven wide column">
                        <div class="ui horizontal link list mini">
                            <div class="item">
                                <!-- 头像 -->
                                <img class="ui avatar m-avatar image" th:src="${blog.user.avatar}"
                                    onclick="window.location.href='/about'" style="cursor: pointer;">
                                <div class="content"><a href="/about" class="header"
                                        th:text="${blog.user.nickname}"></a></div>
                            </div>
                            <class class="item">
                                <i class="calender icon"></i><span th:text="${#temporals.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                </class>
                                <class class="centered aligned item">
                                    <i class="eye icon"></i>&nbsp;&nbsp;<span th:text="${blog.viewNum}"></span>
                                </class>
                            </div>
                        </div>
                        <!-- right -->
                        <div class="five wide column right aligned">
                            <a href="#" class="ui label teal basic m-padding-tiny m-text-thin" th:text="${blog.type.name}"></a>
                        </div>
                    </div>
            </div>
            <div class="five wide column">
                    <!-- image -->
                <a target="_blank" th:href="@{/blog/{id}(id=${blog.id})}">
                        <img class="ui rounded image m-body-pic-size" th:src="${blog.picture}">
                </a>
            </div>
        </div>
    </div>
    <footer th:fragment="footer" class="ui inverted viewport segment m-padding-tb-max">
        <div class="ui container center aligned">
            <div class="ui inverted divided grid stackable">
                <div class="two wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="/img/QR code.png" class="ui rounded image m-footer-pic-size" alt="">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">友情链接</h4>
                    <div class="ui inverted link list">
                        <a href="https://www.aliyun.com/" target="_blank" class="item">阿里云</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">联系我</h4>
                    <div class="ui inverted link list">
                        <div class="item" th:text="|Email：#{footer.email}|"></div>
                        <div class="item" th:text="|QQ：#{footer.qq}|"></div>
                    </div>
                </div>
                <div class="eight wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">介绍</h4>
                    <p class="m-text-thin m-text-spaced m-text-lined m-opacity-min">
                        你好，欢迎来到本人的自建小站。<br />
                        对于本站，如果您有任何优化建议，可通过邮箱反馈给我。<br />
                        本站所有内容均代表个人观点。<br />
                        感谢你把我读完。
                    </p>
                </div>
            </div>
            <!-- 分割线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-text-lined m-opacity-tiny">copyright@2020 Designed by Passerby</p>
        </div>
    </footer>
</body>

</html>