body{
    background: url("../img/bg.png") !important;
}
.m-shadow-small{
    -webkit-box-shadow: 0px 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2) !important;
}
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top-large{
    margin-top: 2em !important;
}
.m-margin-bottom-mini{
    margin-bottom: 0.5em !important;
}
.m-padding-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padding-mini{
    padding: 0.2em !important;
}
.m-padding-tiny{
    padding: 0.3em !important;
}
.m-padding-tb-mini{
    padding-top: 0.2em !important; 
    padding-bottom: 0.2em !important;
}
.m-padding-tb-large{
    padding-top: 2em !important; 
    padding-bottom: 2em !important;
}
.m-padding-tb-big{
    padding-top: 3em !important; 
    padding-bottom: 3em !important;
}
.m-padding-tb-max{
    padding-top: 5em !important; 
    padding-bottom: 5em !important;
}
.m-qr-code-pic-size{
    width: 10em !important;
}
.m-qr-code-pic-size-big{
    width: 130px !important;
}
.m-body-pic-size{
    width: 400px !important;
}
.m-footer-pic-size{
    width: 120px !important;
}
/* text */
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{/* 字间距 */
    letter-spacing: 1px !important;
}
.m-text-lined{/* 行间距 */
    line-height: 1.8 !important;
}
.m-opacity-tiny{
    opacity: 0.6 !important;
}
.m-opacity-min{
    opacity: 0.8 !important;
}
.m-black{
    color: #333333 !important;
}
/* display */
.m-inline-block{
    display: inline-block !important;
}

.m-container{
    max-width: 72em !important;
    margin: auto;
}
.m-container-small{
    max-width: 60em !important;
    margin: auto;
}
.m-top-right{
    position:absolute;
    top: 0;
    right: 0;
}
.m-mobile-show{
    display: none !important;
}
@media screen and (max-width:768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padding-lr-responsive{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
}