<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/me.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>归档</title>
</head>

<body>
    <nav th:replace="commons/index::menu(4)"></nav>
    <!-- 中间内容 -->
    <div class="m-padding-tb-large m-container-small">
        <div class="ui container">
            <div class="ui top attached m-padding-tb-large segment">
                <div class="ui two column grid middle aligned">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="column right aligned">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogNum}"></h2> 篇博客
                    </div>
                </div>
            </div>
            <div th:each="item : ${archiveList}">
                <br>
                <h2 class="ui center aligned header" th:text="${item.first}"></h2>
                <div class="ui fluid vertical menu ">
                    <a class="item" th:each="blog : ${item.second}" th:href="@{/blog/{id}(id=${blog.id})}">
                        <span>
                            <i class="mini teal circle icon"></i>
                            <span th:text="${blog.title}"></span>
                            <div class="ui orange basic label " th:text="${#temporals.format(blog.createTime,'MMMdd')}"></div>
                        </span>
                        <div class="ui teal basic label " th:text="${blog.flag}"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="commons/index::footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $(".toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
</script>

</html>