<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/me.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>搜索结果</title>
</head>

<body>
    <nav th:replace="commons/index::menu(0)"></nav>
    <!-- 中间内容 -->
    <div class="m-padding-tb-large m-container-small">
        <div class="ui container">
            <div class="ui segment top attached m-padding-tb-large">
                <div class="ui two column grid middle aligned">
                    <div class="column">
                        <h3 class="ui teal header" th:text="|${query} 的搜索结果|"></h3>
                    </div>
                    <div class="column right aligned">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"></h2> 个
                    </div>
                </div>
            </div>
        </div>
        <div class="ui top attached teal segment">
            <div th:replace="commons/index::item"></div>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui two column grid middle aligned" th:if="${page.totalPages}">
                <div class="column">
                    <a th:href="|/search?page=${page.number-1}&&query=${query}|" th:unless="${page.first}" class="ui button teal basic mini">上一页</a>
                </div>
                <div class="column right aligned">
                    <a th:href="|/search?page=${page.number+1}&&query=${query}|" th:unless="${page.last}" class="ui button teal basic mini">下一页</a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="commons/index::footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $(".toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
</script>

</html>