<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/me.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>内容页</title>
</head>

<body>
    <nav class="ui inverted attached segment m-padding-tb-mini m-shadow-small">
        <div class="ui contan">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="item m-mobile-hide m-item"><i class="home icon"></i> 首页</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="idea icon"></i>分类</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="tags icon"></i>标签</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="clone icon"></i>归档</a>
                <a href="#" class="item m-mobile-hide m-item"><i class="info icon"></i>关于我</a>
                <div class="right item m-mobile-hide m-item">
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="Search">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui black icon menu toggle button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!-- 中间内容 -->
    <div class="m-padding-tb-large m-container-small">
        <div class="ui container">
            <!-- 头部 -->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://i.picsum.photos/id/1001/100/100.jpg" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header">路人</a></div>
                    </div>
                    <class class="item">
                        <i class="calender icon"></i>2020-1-21
                    </class>
                    <class class="item">
                        <i class="eye icon"></i>7
                    </class>
                </div>
            </div>
            <!-- 图片 -->
            <div class="ui attached segment">
                <img src="https://i.picsum.photos/id/1000/700/450.jpg" alt="" class="ui fluid rounded image">
            </div>
            <!-- 内容 -->
            <div class="ui attached padded segment">
                <div class="ui right aligned basic segment">
                    <div class="ui orange basic label">原创</div>
                </div>
                <h2 class="ui center aligned header">昆古尼尔</h2>
                <div id="content " class="m-padding-lr-responsive m-padding-tb-large">
                    <h3 class="m-padding-tb-mini">序</h3>
                    <p>
                        六个人的力量加起来，气闸只上升了一条窄缝。将军双眼布满红丝，盯住压弯的撬棍，脸上的表情耐人寻味。糅合了疲惫和深切的悲悯，他舔舔干裂的嘴唇，小声说：“行了。”
                        “长官，您的命令？”军官睁着剩下的一只蓝眼睛，斜绕过前额的绷带浸透血水，混合了冷汗，沿黑乎乎的面颊划出几道浅纹。
                        将军苦涩地想到，对了，自己是个大人物。即使一切都在崩溃的边缘游走，还有人指望他用一个命令、跟必然来临的死亡讨价还价一番。
                        “没用。”他嘟哝着，像鱼类无声开合的嘴唇，只吐出一串带回声的气泡。“让孩子们跪下……还有时间祷告。”
                        军官艰难地拖着一条腿，往地面啐一口含血的唾沫。将军又老又虚弱，死期将至、却又如蒙大赦，正领着六个士兵跪成一圈，垂默诵经文。军官轻触自己腰间的老古董——.45口径，塑钢混合结构，外表朴实无华，取下弹夹，只有一枚子弹。军官曾一万次擦拭这枚子弹，用对妻子都没有过的细腻，在弹头刻下一个十字。开始还有人向他投来异样的眼光，毕竟，动能武器的辉煌年代早已逝去，人和人的厮杀必须适应文明进步的要求，即便要杀，也该确保顷刻毙命；可一见他擦拭老枪的专注神情，连最挑剔的人也会稍稍远离、自动保持沉默。最后一次端详子弹上的十字——看来好像一个走样的笑——军官打开保险，大力拉扯套筒，把微笑的子弹推进枪膛。
                        今天他会用这颗子弹击穿某人的颅骨。
                        他咧开嘴笑笑，或应该留给自己消受？反正双方都死有余辜。
                        将军在祷告，目光却在士兵和军官脸上徘徊。六个兵人人面带稚气，恐惧通过表情和动作表露无遗；军官至多三十岁，皱纹如同戈壁风蚀的刮痕，周身负伤，心力交瘁，杀气腾腾。将军无惧于死，却被军官流露出的憎厌表情深深震动。
                        那是罪人的神情。罪无可恕，又不甘于就死，像吞噬自己触手的章鱼，没有眼睑的双目只散死气。
                        “后退！让我来！”
                        士兵们眼看军官用匕锯齿状的一面剖开伤腿，从一堆破裂的硅胶骨片中取出代替胫骨的金属圆筒，少量血肉碎屑伴随电解液汩汩流出。先尖叫的不是当事人，几名士兵陆续转身，疯似的逃走了。将军毫不动容，转眼将手中步枪一分为三。两人一言不，步枪的高能电池和义肢的金属圆筒相互连接，军官现在只能跪坐着，把圆筒塞进气闸底部的缝隙。接通回路时，两人都没有后退，似乎期待一次小规模爆炸能提前结束所有煎熬。圆筒中的气体瞬间产生高压，向上奋力推动沉重的气闸，两股机械力彼此抗衡，随着一声闷响，闸门不情愿地滑动了。
                        敌人毫无防备，将军和军官却无法作出任何动作。
                        窗外灰蓝色星球一如既往还在转动，他们有五年没能亲眼目睹这景象，陆地的轮廓已然无法辨认，大气中迅疾流动的铅灰色云朵一再提醒他们、曾对养育自己的大地和海洋犯下何等罪行。反抗暴政，逃离家园，军官和将军都曾以为、自己所做的是为伸张正义。弱有权选择武器，直到这武器酿成大祸，受害的复仇竟显得面目狰狞，一切早已无可挽回。
                        敌人停止抽泣，迎着惊诧的目光站直身体。
                        眼前的少女至多有十六岁，尖瘦脸庞还挂着泪痕，眼睛却放射骇人的憎恨。她右手前指，吐出一串铿锵字句，将军手中的步枪应声化作一团飞溅的闪光。焦糊味和惨叫唤醒了军官的杀意，不管敌人看来如何脆弱，这些人只需几个音节就能放倒一名老兵！扳动击锤，军官用剩下一只眼睛瞄准对方眉心。少女平静的姿态让扳机扣动的瞬间格外漫长，黄铜弹壳冒着轻烟被猛烈抛飞，只需三十分之一秒，弹头就要凿穿对方血肉！
                        下一刻，以亿计的高温高压，把厮杀的双方连同飞行的子弹、一齐化为电离后的摇曳云团。三十八万公里之外，地面上的居民有幸目睹这场冲突的尾声：悬挂在夏日夜空中的暗淡圆月，表面绽开一朵升腾的火花，将自身十分之一的物质抛入无尽虚空，妖艳光芒持续了大约一刻钟。
                        后来，水手们把这一年称作“风浪号角之年”，从此潮汐涨落变得扑朔迷离。
                        除了更多天灾，新纪元的第一缕曙光仍旧如期而至。
                        来不及为湮没于昨天的故事树碑立传，混乱和希望已经急着书写新的历史。
                        时光飞逝，旅程由此开始。
                    </p>
                </div>
                <!-- 标签 -->
                <div class="m-padding-lr">
                    <div class="ui basic teal label">小说</div>
                </div>
                <!-- 赞赏 -->
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui orange basic circular button">赞赏</button>
                </div>
                <!-- 弹窗组件 -->
                <div class="ui flowing popup transition hidden payImg">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit;">
                            <div class="image">
                                <img src="/static/img/QR code.png" alt=""
                                    class="rounded bordered ui image m-qr-code-pic-size-big">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img src="/static/img/QR code.png" alt=""
                                    class="rounded bordered ui image m-qr-code-pic-size-big">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 博客信息 -->
            <div class="ui attached message">
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ui class="list">
                            <li>作者：路人</li>
                            <li>发表时间</li>
                            <li>版权声明：自由转载-非商用-非衍名-保持署名（创意共享3.0许可证）</li>
                            <li>公众号转载：请在文末添加作者公众号二维码</li>
                        </ui>
                    </div>
                    <div class="five wide column">
                        <img src="/static/img/QR code.png" alt=""
                            class="right floated ui rounded bordered image m-qr-code-pic-size-big">
                    </div>
                </div>
            </div>
            <!-- 留言区 -->
            <div class="ui bottom attached segment">
                <!-- 留言列表 -->
                <div class="ui teal segment"></div>
                <div class="ui form">
                    <div class="ui threaded comments">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://i.picsum.photos/id/1001/100/100.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Matt</a>
                                <div class="metadata">
                                    <span class="date">今天下午 5:42</span>
                                </div>
                                <div class="text">太赞了！ </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://i.picsum.photos/id/1001/100/100.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">昨天上午12:30</span>
                                </div>
                                <div class="text">
                                    <p>這對我的研究是非常有用.謝謝!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="https://i.picsum.photos/id/1001/100/100.jpg">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">刚刚</span>
                                        </div>
                                        <div class="text">艾略特你永远是多么正确 :) </div>
                                        <div class="actions">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://i.picsum.photos/id/1001/100/100.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 天以前</span>
                                </div>
                                <div class="text">老兄，这太棒了。非常感谢。 </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui form">
                    <div class="field">
                        <textarea name="content" id="" cols="30" rows="10" placeholder="请输入评论..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-mini">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="name" placeholder="姓名">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-mini">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="field m-mobile-wide">
                            <button class="ui teal button m-mobile-wide">评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="ui inverted viewport segment m-padding-tb-max">
        <div class="ui container center aligned">
            <div class="ui inverted divided grid stackable">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="/static/img/QR code.png" class="ui rounded image m-footer-pic-size" alt="">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email：756635176@qq.com</a>
                        <a href="#" class="item">QQ：756635176</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced m-text-lined">介绍</h4>
                    <p class="m-text-thin m-text-spaced m-text-lined m-opacity-min">一大段内容一大段内容一大段内容
                        一大段内容一大段内容一大段内容
                        一大段内容一大段内容一大段内容
                    </p>
                </div>
            </div>
            <!-- 分割线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-text-lined m-opacity-tiny">copyright@2020 Designed by Passerby</p>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $(".toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });
    $("#payButton").popup({
        popup: $(".payImg"),
        on: "click",
        position: "bottom center"
    });
</script>

</html>